@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #34495E;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #2C3E50;
  line-height: 1.5;
  margin: 0;
  padding: 5% 25px 0;
}

.wrap {
  background-color: #eaeaea;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-size: 0.9em;
}
.link:before {
  content: "←";
  color: #fff;
  margin-right: 5px;
}

.content {
  padding: 50px;
}

h1 {
  font-size: 3.25vw;
  font-weight: 300;
  text-align: center;
  margin: 0 0 0.67em;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
}

p {
  margin: 2.5em 0;
}

footer {
  text-align: center;
  margin: 1em 0 0;
  color: #eaeaea;
}

.nav-primary {
  background-color: #fff;
}
.nav-primary ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-primary li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin: 0 1vw;
}
.nav-primary li:hover > a {
  background-color: #34495E;
  color: #fff;
}
.nav-primary a {
  display: block;
  text-decoration: none;
  color: #34495E;
  background-color: #fff;
  line-height: 1;
  padding: 20px;
}
.nav-primary a:hover, .nav-primary a:active, .nav-primary a:focus {
  color: #fff;
  background-color: #34495E;
}
.nav-primary ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.nav-primary ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.nav-primary ul li:hover > ul, .nav-primary ul li:active > ul, .nav-primary ul li:focus > ul,
.nav-primary ul ul li:hover > ul,
.nav-primary ul ul li:active > ul,
.nav-primary ul ul li:focus > ul {
  display: block;
}
.nav-primary .sub-menu {
  text-align: left;
}
.nav-primary .sub-menu li {
  display: block;
  margin: 0;
}
.nav-primary .sub-menu a {
  display: block;
  color: #fff;
  white-space: nowrap;
  border-bottom: none;
  padding: 20px;
  background-color: #34495E;
}
.nav-primary .sub-menu a:hover, .nav-primary .sub-menu a:active, .nav-primary .sub-menu a:focus {
  color: #34495E;
  background-color: #fff;
}

.icon-menu,
.icon-close {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .icon-close {
    display: block;
    margin: 5px 0 0;
    padding: 0 0 0 15px;
    font-size: 65px;
    line-height: 60px;
    height: 50px;
  }

  .icon-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    font-size: 65px;
    line-height: 0.5;
  }

  .nav-primary {
    position: fixed;
    top: 0;
    right: -1024px;
    background-color: #2C3E50;
    width: 1024px;
    max-width: 100%;
    height: 100%;
    padding: 0;
  }
  .nav-primary > ul {
    height: 75vh;
    overflow-y: auto;
  }
  .nav-primary ul ul,
  .nav-primary ul ul ul {
    display: block;
    position: static;
  }
  .nav-primary li {
    display: block;
    margin: 0;
  }
  .nav-primary a,
  .nav-primary .sub-menu a {
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 5px 25px;
  }
  .nav-primary a:hover, .nav-primary a:active, .nav-primary a:focus,
  .nav-primary .sub-menu a:hover,
  .nav-primary .sub-menu a:active,
  .nav-primary .sub-menu a:focus {
    background-color: #34495E;
  }
}

/*# sourceMappingURL=style.css.map */
