.footer {
  margin: 20px 0 0;
  padding: 0 25px;
  height: 85px;
  color: $primary;
  background-color: $yellow;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .footer_logo {
    display: block;
    font-family: $northwell;
    font-size: 5rem;
  }

  .tagline {
    font-size: 1.25rem;
    text-align: right;
    line-height: 1;
  }

  .copyright {
    font-size: 0.95rem;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 2px;
  }
}
