/* Navigation */
.nav-primary {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	z-index: 3;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		position: relative;
		list-style-type: none;
		display: inline-block;
		margin: 0;

		&::before { /* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type | Accessibility concerns */
			content: "\200B";
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		&.current a,
		&:hover > a,
		&:active > a,
		&:focus-within > a {
			color: $white;
			background-color: $secondary;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $primary;
		background-color: $white;
		line-height: 1;
		padding: 20px;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background-color: $secondary;
		}
	}

	ul ul {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 3;
		box-shadow: 1px 1px 1px rgba($black,0.25);

		&:focus-within {
			visibility: visible;
		}
	}

	ul ul ul {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 3;
		box-shadow: 1px 1px 1px rgba($black,0.25);

		&:focus-within {
			visibility: visible;
		}
	}

	ul li,
	ul ul li {
		&:hover > ul,
		&:active > ul {
			visibility: visible;
		}
	}

	ul li a,
	ul ul li a {
		&:focus + ul {
			visibility: visible;
		}
	}

	.sub-menu {
		text-align: left;
	}

	.sub-menu li {
		display: block;
		margin: 0;
	}

	.sub-menu a {
		display: block;
		color: $white;
		white-space: nowrap;
		border-bottom: none;
		padding: 20px;
		background-color: $secondary;

		&:hover,
		&:active,
		&:focus {
			color: $primary;
			background-color: $white;
		}
	}
}

.menu-icon {
	display: block;
	height: 35px;
	font-size: 65px;
}

.menu-open {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 20px;
	color: $white;

	.menu-icon {
		width: 35px;
		line-height: 30px;
	}
}

.menu-close {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 0;
	color: $white;

	.menu-icon {
		width: 47px;
		line-height: 45px;
	}
}

/* Mobile Styles */
@media (max-width: 1024px) {
	.menu-open {
		display: block;
	}

	.menu-close {
		display: block;
	}

	.nav-primary {
		position: fixed;
		top: 0;
		left: -320px;
		background-color: $secondary;
		width: 320px;
		max-width: 100%;
		height: 100vh;
		overflow-y: auto;
		padding: 0;

		& > ul {
			margin-top: 50px;
		}

		ul ul,
		ul ul ul {
			position: static;
			max-height: 0;
			overflow: hidden;
			visibility: hidden;
			opacity: 0;
			box-shadow: none;
			transition: all 0.5s ease;
		}

		ul li,
		ul ul li {
			&:hover > ul,
			&:active > ul,
			&:focus > ul {
				max-height: 2000px;
				visibility: visible;
				opacity: 1;
			}
		}

		li {
			display: block;
			margin: 0;

			&:hover > a,
			&:active > a,
			&:focus > a {
				background-color: transparent;
				color: $white;
			}
		}

		li a,
		.sub-menu a {
			display: block;
			width: 100%;
			background-color: transparent;
			text-align: left;
			padding: 15px;
			color: $white;

			&:hover,
			&:active,
			&:focus {
				background-color: $primary;
				color: $white;
			}
		}
	}	
}
