@font-face {
    font-family: "SofiaProLiCond";
    src: url("../../fonts/SofiaProLiCond-webfont.woff2") format("woff2"),
        url("../../fonts/SofiaProLiCond-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nexa_Bold";
    src: url("../../fonts/Nexa_Free_Bold-webfont.woff2") format("woff2"),
        url("../../fonts/Nexa_Free_Bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nexa_Light";
    src: url("../../fonts/Nexa_Free_Light-webfont.woff2") format("woff2"),
        url("../../fonts/Nexa_Free_Light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "acherus_grotesque_regular_italic";
    src: url("../../fonts/acherus_grotesque_-_regular_italic-webfont.woff2")
            format("woff2"),
        url("../../fonts/acherus_grotesque_-_regular_italic-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "acherus_grotesque_regular";
    src: url("../../fonts/acherus_grotesque_-_regular-webfont.woff2")
            format("woff2"),
        url("../../fonts/acherus_grotesque_-_regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Northwell";
    src: url("../../fonts/northwell.eot");
    src: url("../../fonts/northwell.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/northwell.woff2") format("woff2"),
        url("../../fonts/northwell.woff") format("woff"),
        url("../../fonts/northwell.ttf") format("truetype"),
        url("../../fonts/northwell.svg#youworkforthem") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NorthwellAlt";
    src: url("../../fonts/northwell-alt.eot");
    src: url("../../fonts/northwell-alt.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/northwell-alt.woff2") format("woff2"),
        url("../../fonts/northwell-alt.woff") format("woff"),
        url("../../fonts/northwell-alt.ttf") format("truetype"),
        url("../../fonts/northwell-alt.svg#youworkforthem") format("svg");
    font-weight: normal;
    font-style: normal;
}
