.social_profiles {
	display: flex;
	flex-flow: row wrap;

	a {
		display: block;
		width: 50%;
		color: $yellow;
		margin-bottom: 1rem;

		.svg_bubble {
			display: inline-block;
			vertical-align: middle;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			margin-right: 10px;
			border-radius: 50%;
			background-color: $gray;
		}

		.svg_label {
			display: inline-block;
			vertical-align: middle;
			font-size: 0.95rem;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		svg {
			display: inline-block;
			vertical-align: middle;
			width: 35px;
			height: auto;
			fill: $primary;
		}

		&:hover,
		&:active {
			color: $white;
		}
	}
}
